@font-face {
  font-family: 'Hammersmith_One';
  src: url("/fonts/Hammersmith_One/HammersmithOne-Regular.ttf");
}

@font-face {
  font-family: 'Playfair_Display';
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Black.ttf");
  src: url("/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf");
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf");
  src: url("/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf");
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf");
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Black.ttf");
  src: url("/fonts/Roboto/");
  src: url("/fonts/Roboto/Roboto-BlackItalic.ttf");
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  src: url("/fonts/Roboto/Roboto-BoldItalic.ttf");
  src: url("/fonts/Roboto/Roboto-Italic.ttf");
  src: url("/fonts/Roboto/Roboto-Light.ttf");
  src: url("/fonts/Roboto/Roboto-LightItalic.ttf");
  src: url("/fonts/Roboto/Roboto-Medium.ttf");
  src: url("/fonts/Roboto/Roboto-MediumItalic.ttf");
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  src: url("/fonts/Roboto/Roboto-Thin.ttf");
  src: url("/fonts/Roboto/Roboto-ThinItalic.ttf");
}
