@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?i5saz6");
  src: url("/fonts/icomoon.eot?i5saz6#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?i5saz6") format("truetype"), url("/fonts/icomoon.woff?i5saz6") format("woff"), url("/fonts/icomoon.svg?i5saz6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-right:before {
  content: "\e908";
}

.icon-phone:before {
  content: "\e904";
}

.icon-quotation-marks:before {
  content: "\e900";
}

.icon-google-plus-symbol:before {
  content: "\e901";
}

.icon-twitter-logo-silhouette:before {
  content: "\e905";
}

.icon-facebook-logo:before {
  content: "\e907";
}

.icon-play:before {
  content: "\e902";
}

.icon-location:before {
  content: "\e906";
}

.icon-paperplane:before {
  content: "\e903";
}

.icon-send:before {
  content: "\e903";
}

.icon-flight:before {
  content: "\e903";
}

.icon-email:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-dribbble:before {
  content: "\eaa7";
}
