@charset "UTF-8";
/* Icons */
@font-face {
  font-family: "slick";
  src: url("/fonts/slick.eot");
  src: url("/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/fonts/slick.woff") format("woff"), url("/fonts/slick.ttf") format("truetype"), url("/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #00e0d0;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #00e0d0;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?i5saz6");
  src: url("/fonts/icomoon.eot?i5saz6#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?i5saz6") format("truetype"), url("/fonts/icomoon.woff?i5saz6") format("woff"), url("/fonts/icomoon.svg?i5saz6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-right:before {
  content: "\e908";
}

.icon-phone:before {
  content: "\e904";
}

.icon-quotation-marks:before {
  content: "\e900";
}

.icon-google-plus-symbol:before {
  content: "\e901";
}

.icon-twitter-logo-silhouette:before {
  content: "\e905";
}

.icon-facebook-logo:before {
  content: "\e907";
}

.icon-play:before {
  content: "\e902";
}

.icon-location:before {
  content: "\e906";
}

.icon-paperplane:before {
  content: "\e903";
}

.icon-send:before {
  content: "\e903";
}

.icon-flight:before {
  content: "\e903";
}

.icon-email:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-dribbble:before {
  content: "\eaa7";
}

@font-face {
  font-family: 'Hammersmith_One';
  src: url("/fonts/Hammersmith_One/HammersmithOne-Regular.ttf");
}

@font-face {
  font-family: 'Playfair_Display';
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Black.ttf");
  src: url("/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf");
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf");
  src: url("/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf");
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf");
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Black.ttf");
  src: url("/fonts/Roboto/");
  src: url("/fonts/Roboto/Roboto-BlackItalic.ttf");
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  src: url("/fonts/Roboto/Roboto-BoldItalic.ttf");
  src: url("/fonts/Roboto/Roboto-Italic.ttf");
  src: url("/fonts/Roboto/Roboto-Light.ttf");
  src: url("/fonts/Roboto/Roboto-LightItalic.ttf");
  src: url("/fonts/Roboto/Roboto-Medium.ttf");
  src: url("/fonts/Roboto/Roboto-MediumItalic.ttf");
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  src: url("/fonts/Roboto/Roboto-Thin.ttf");
  src: url("/fonts/Roboto/Roboto-ThinItalic.ttf");
}

#wrapper {
  max-width: 1400px;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 842px;
  margin: 0 auto;
  padding: 15px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.btn-blue {
  background: transparent;
  border: 1px solid #00e0d0;
  padding: 9px 19px;
  color: #00e0d0;
  font-family: HammersmithOne, serif;
  font-size: 16px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

#header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.wrapper-menu {
  display: inline-block;
  vertical-align: middle;
}

.wrapper-menu .menu-header li {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  padding-right: 25px;
  font-family: "Roboto Light", serif;
  font-size: 13px;
  cursor: pointer;
}

@media (max-width: 320px) {
  .wrapper-menu .menu-header li {
    display: block;
    margin-right: 10px;
    text-align: left;
  }
}

.wrapper-menu .menu-header li:hover {
  color: #00e0d0;
  transition: .6s;
}

.slider-all {
  text-align: center;
}

.slider-all h1 {
  color: #ffffff;
  text-align: center;
  position: relative;
  font-family: "Roboto Black", serif;
  font-size: 32px;
  padding-top: 50px;
}

.slider-all h1:after {
  content: '';
  position: absolute;
  top: 100px;
  left: 48%;
  background: #00e0d0;
  padding: 1px 25px;
}

.slider-all p {
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
  max-width: 735px;
  padding-left: 70px;
  font-family: "Playfair Display Black", serif;
  font-size: 14px;
}

.story {
  margin-top: 50px;
  padding-bottom: 50px;
}

.left-story {
  display: inline-block;
  vertical-align: middle;
  padding-right: 60px;
}

.right-story {
  display: inline-block;
  vertical-align: middle;
}

.right-story h2 {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-size: 22px;
}

.right-story p {
  text-align: left;
  font-family: "Roboto Light", serif;
  font-size: 14px;
}

.right-story .paragraph {
  padding-top: 20px;
}

.video {
  padding-top: 222px;
  padding-bottom: 192px;
  text-align: center;
}

.video button {
  display: block;
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 100%;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.video button span {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  padding-left: 5px;
}

.video .watch {
  color: #ffffff;
  font-family: "HammersmithOne", serif;
}

.items {
  padding-top: 30px;
}

.caption {
  text-align: center;
}

.caption h2 {
  font-size: 22px;
  font-family: "PlayfairDisplay-Bold", serif;
}

.caption p {
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 14px;
  position: relative;
}

.caption p:after {
  content: '';
  position: absolute;
  top: 30px;
  right: 47%;
  background: #c6c4c9;
  padding: 1px 25px;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
  max-width: 257px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.inline-block h2 {
  font-size: 14px;
  font-family: "Roboto Black", serif;
}

.inline-block p {
  font-family: "Roboto Light", serif;
  font-size: 14px;
}

.top-items {
  border-bottom: 1px solid #ebebeb;
}

.padding-right {
  padding-right: 15px;
  border-right: 1px solid #ebebeb;
}

.padding-left {
  padding-left: 15px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.title h2 {
  color: #ffffff;
  font-size: 22px;
  font-family: "PlayfairDisplay-Bold", serif;
}

.title p {
  color: #ffffff;
  font-size: 14px;
  font-family: "PlayfairDisplay-Regular", serif;
  position: relative;
}

.title p:after {
  content: '';
  position: absolute;
  top: 30px;
  right: 47%;
  background: #c6c4c9;
  padding: 1px 25px;
}

.team span {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto-Light", serif;
}

.team .center {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.team-all {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #78778c;
}

.team-all h3 {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto-Black", serif;
}

.team-all p {
  text-align: center;
  font-size: 13px;
  font-family: "Roboto-Light", serif;
  color: #8c8b98;
}

.team-all img {
  width: 200px;
}

.one-person, .two-person, .three-person {
  margin-right: 20px;
}

.btn-center {
  display: block;
  margin: 0 auto;
}

.top-squares {
  display: flex;
}

.top-squares img {
  width: 207px;
}

.bottom-squares {
  display: flex;
  margin-bottom: 30px;
}

.bottom-squares img {
  width: 207px;
}

.our {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.our h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.our a {
  margin: 10px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.our .icon-cheveron-right {
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 20px;
}

.works {
  padding-bottom: 30px;
}

.works .btn-blue {
  display: block;
  margin: 0 auto;
}

.some-text {
  text-align: center;
}

.some-text .icon-quotation-marks {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.some-text p {
  color: #ffffff;
  font-family: "PlayfairDisplay-Regular", serif;
  max-width: 657px;
  padding-left: 111px;
}

.some-text .jane {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto-Black", serif;
  padding-bottom: 10px;
}

.some-text .ceo {
  color: #adabb6;
  font-family: "Roboto-Light", serif;
  font-size: 13px;
  margin-bottom: 20px;
}

#form {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

#form input {
  display: block;
  border: 1px solid #e5e5e5;
  padding: 14px 284px 14px 10px;
  margin-bottom: 10px;
}

#form textarea {
  display: block;
  resize: none;
  padding: 15px 307px 153px 10px;
  border: 1px solid #e5e5e5;
}

#form textarea[placeholder] {
  font-family: "Roboto-Light", sans-serif;
}

.client {
  display: inline-block;
  vertical-align: middle;
}

.client h2 {
  display: inline-block;
}

.client-icon {
  display: flex;
}

.client-left {
  padding-right: 50px;
}

.client-bloke-left {
  padding-bottom: 20px;
}

.client-bloke-right {
  padding-bottom: 20px;
}

.left-footer-information {
  display: inline-block;
  vertical-align: middle;
  max-width: 252px;
  padding-right: 40px;
}

.left-footer-information p {
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto-Light", serif;
  line-height: 2;
}

.center-footer-information {
  display: inline-block;
  vertical-align: top;
  max-width: 237px;
  position: relative;
}

.center-footer-information h3 {
  color: #ffffff;
  font-size: 15px;
  font-family: "Roboto-Black", serif;
  padding-bottom: 10px;
}

.center-footer-information .location {
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto-Light", serif;
  line-height: 2;
}

.center-footer-information a {
  padding-top: 10px;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto-Light", serif;
}

.center-footer-information .icon-phone {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: -30px;
}

.icon-location {
  color: #ffffff;
  position: absolute;
  top: 64px;
  left: -30px;
}

.right-footer-information {
  display: inline-block;
  vertical-align: top;
}

.right-footer-information h3 {
  color: #ffffff;
  font-size: 15px;
  font-family: "Roboto-Black", serif;
}

.right-footer-information input {
  border: 1px solid #9e98b0;
  padding: 19px 19px;
  background: transparent;
}

.right-footer-information button {
  vertical-align: middle;
  padding: 10px 26px;
  background: #a39cb6;
  border: none;
}

.right-footer-information button span {
  vertical-align: middle;
  font-size: 30px;
}

.social-icons {
  padding-top: 20px;
}

.social-icons span {
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 8px;
  color: #ffffff;
  font-size: 12px;
}

.social-icons .icon-facebook-logo, .social-icons .icon-twitter-logo-silhouette, .social-icons .icon-dribbble, .social-icons .icon-instagram, .social-icons .icon-google-plus-symbol {
  margin-right: 10px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.bottom-footer ul {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.bottom-footer ul li {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto-Regular", serif;
}

.bottom-footer .word-spacing {
  padding-right: 20px;
}

.copir {
  display: inline-block;
  vertical-align: middle;
}

.copir span {
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto-Regular", serif;
}

.slider-carousel {
  margin: 0 auto;
  padding: 30px 0;
}

.qwe {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

.qwe img {
  width: 100%;
  height: 100%;
}

.center {
  width: 850px;
  display: flex;
  justify-content: center;
}

/************* burger menu*********/
.menu {
  text-align: right;
}

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  right: 30px;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
}

.menu__links-item {
  display: inline-block;
  color: #333333;
  font-family: Arial;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__links-item:hover {
  text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;
}

@media (max-width: 1024px) {
  .menu__icon {
    display: inline-block;
  }
  .menu__links {
    position: relative;
    top: -46px;
    left: -66px;
    display: none;
    z-index: 1000;
    overflow: auto;
  }
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
  .slider-all p {
    max-width: 100%;
    font-size: 20px;
  }
  .menu-header li {
    font-size: 30px;
  }
}
